@{
    ViewData["Title"] = "掲載詳細";
    Layout = "_JobDetailLayout";
}
@using job.Web.Models.System
@model JobViewModel
<head>
    <link rel="stylesheet" type="text/css" href="~/css/common_pc.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/pc.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/jobsearch_detail.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/jobsearch_detail_location.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/jobSearchDetail.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="~/css/pop_up_to_promote_application.css">
    <link rel="stylesheet" type="text/css" href="~/css/main_offerDetailMember.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/matCom_pc.css" media="all">
    <style type="text/css">
        .recruit_box02 table p.txt_area {
            width: 697px;
            word-wrap: break-word;
        }
    </style>

    <style>
        /* Custom Styles */
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #0088cc;
                    border: 1px solid #0088cc;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 30px; /* Set the top position of pinned element */
            }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
    <div class="container">
        <div class="jumbotron">
            <h1>Bootstrap Affix</h1>
        </div>
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                    <li class="active"><a href="#section-1">第一部分</a></li>
                    <li><a href="#section-2">第二部分</a></li>
                    <li><a href="#section-3">第三部分</a></li>
                    <li><a href="#section-4">第四部分</a></li>
                    <li><a href="#section-5">第五部分</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <h2 id="section-1">第一部分</h2>
                <div class="jobDetail" id="wrapper">
                    <div class="head_detail">
                        <div class="head_inner">
                            <div class="head_title">
                                <div class="meta_head">
                                    <div class="messageDetailLink">
                                    </div>
                                    <div class="publishingSchegulePeriod">
                                        <p class="meta_text">掲載予定期間：2022/9/22（木）～2022/9/28（水）</p>
                                    </div>
                                </div>
                                <h1>
                                    {{job.title}}
                                    <span class="explain">
                                        {{job.Category}}
                                    </span>
                                </h1>
                            </div>
                            <ul class="head_icons clrFix">
                                <li class="new">NEW</li>
                                <li class="near_deadline">{{job.Category}}</li>
                                <li class="employment_status">{{job.Category}}</li>
                                <li class="characteristic">{{job.Category}}</li>
                            </ul>
                            <table class="headerSummary" style="display: none;">
                                <tr>
                                    <td class="headerSummary__term">{{job.Category}}</td>
                                    <td class="headerSummary__description">
                                        {{job.Category}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="headerSummary__term">勤務地</td>
                                    <td class="headerSummary__description">
                                        【横浜・川崎・新宿・池袋・日本橋・大宮】★全て駅チカ！　※勤務地は居住地を考慮／転居を伴う転勤なし。　　【神奈川エリア】　◆横浜東口センター／神奈川区金港町6-20　横浜駅徒歩3分　　◆横浜西口センター／西区北幸1-11-15 横浜ＳＴビル　横浜駅徒歩6分　　◆レディース横浜／西区北幸1-4-1 横浜天理ビル　横浜駅徒歩3分　　◆ファーストプレイス横浜／西区高島2-7-1　横浜駅徒歩４分　　◆横濱ゲートタワー／西区高島1-2-5　横濱ゲートタワー　横浜駅徒歩6分　　◆川崎センター／川崎区日進町1-11 川崎ルフロン　川崎駅徒歩2分　　 【東京・大宮エリア】　◆新宿西口センター／新宿区西新宿3-2-4 新和ビルディング　新宿駅徒歩7分　　◆レディース新宿／新宿区西新宿2-7-1 小田急第一生命ビル　都庁前駅徒歩4分、「西新宿駅」徒歩5分　　◆池袋センター／豊島区東池袋1-25-8 タカセビル　池袋駅徒歩5分　　◆日本橋センター／中央区日本橋1-3-13 東京建物日本橋ビル　日本橋駅直結、「東京駅」徒歩4分　　◆大宮センター／埼玉県さいたま市大宮区大門町2-118 大宮門街
                                    </td>
                                </tr>
                                <tr>
                                    <td class="headerSummary__term">休日・休暇</td>
                                    <td class="headerSummary__description">
                                        ■完全週休2日制　（日曜日、他シフト制）※原則、日曜日は休みですが、交代で月1回程度の出勤あり（代休あり）。　◆夏期休暇（4日）　◆年末年始休暇（5日）　◆創立記念休暇　◆有給休暇　◆慶弔休暇　◆産前・産後休暇（取得実績あり）
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div><!--/.head_detail-->
                    <!--primaryQjin 新規-->

                    <div class="summary_area">
                        <div class="inner_box">
                            <p>この求人を要約すると…</p>
                            <ul>
                                <li>東京・神奈川・埼玉で11カ所の健診センターを展開</li>
                                <li>お客さまのご満足とスタッフが働きやすい環境を整える</li>
                                <li>幅広い業務を任されるやりがいの大きい仕事</li>
                            </ul>
                        </div>
                    </div>
                    <!--/.summary_area-->
                    <div id="content" />
                    <div id="shStart" class="content1024" />

                    <!-- [CONTENTS] -->
                    <article class="main1024" />

                    @*<div id="shStart" class="switch_display_btn top_type clrFix">
                            <ul class="switch_display clrFix">
                                <li class="select"><a href="javaScript:void(0);"><span>求人詳細</span></a></li>
                            </ul>
                            <ul class="listTabButton clrFix">


                                <li class="js_button_check_set" id="topBookmark">
                                    <a href="javaScript:void(0);" class="btnTab02 btnW178">
                                        <span class="interestLink">
                                            気になる
                                        </span>
                                    </a>
                                </li>
                                <li><a href="javaScript:registDirectHeader()" class="btnJob02" onClick="setEffect('event81','KyujinShousai_TopChokusetsu','KyujinShousai_ActionButton_TopChokusetsu');">応募する</a></li>
                            </ul>
                        </div>*@

                    <div id="" class="tab_content_block first_block">
                        <div class="recruitment_area">
                            <div class="recruitment_title clrFix">
                                <h2>募集要項</h2>
                                <p class="glossary_link"><a class="helpWindow icoBign01" href="https://doda.jp/info/help/about_job_glossary.html">おしごと用語集</a></p>
                            </div>
                            <table id="job_description_table">
                                <tbody>
                                    <tr>
                                        <th>仕事内容</th>
                                        <td>
                                            <p class="explain"> {{job.title}}123</p>
                                            <dl class="band_title space">
                                                <dt>具体的な仕事内容</dt>
                                                <dd>
                                                    <p class="space"> {{job.title}}123</p>
                                                </dd>
                                            </dl>
                                            <dl class="band_title">
                                                <dt>チーム組織構成</dt>
                                                <dd>
                                                    <p class="space">{{job.content}}123</p>
                                                </dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>対象となる方</th>
                                        <td>
                                            <p class="explain">{{job.title}}</p>
                                            <p class="space_large">{{job.title}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>年齢制限理由</th>
                                        <td>
                                            <p>&#38263;&#26399;&#21220;&#32154;&#12395;&#12424;&#12427;&#12461;&#12515;&#12522;&#12450;&#24418;&#25104;&#12434;&#22259;&#12427;&#35251;&#28857;&#12363;&#12425;&#12289;&#33509;&#24180;&#32773;&#31561;&#12434;&#26399;&#38291;&#12398;&#23450;&#12417;&#12398;&#12394;&#12356;&#21172;&#20685;&#22865;&#32004;&#12398;&#23550;&#35937;&#12392;&#12375;&#12390;&#21215;&#38598;&#12539;&#25505;&#29992;&#12377;&#12427;&#22580;&#21512;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>勤務地</th>
                                        <td>
                                            <p>【横浜・川崎・新宿・池袋・日本橋・大宮】★全て駅チカ！<br />※勤務地は居住地を考慮／転居を伴う転勤なし。<br /><br />【神奈川エリア】<br />◆横浜東口センター／神奈川区金港町6-20<br />横浜駅徒歩3分<br /><br />◆横浜西口センター／西区北幸1-11-15 横浜ＳＴビル<br />横浜駅徒歩6分<br /><br />◆レディース横浜／西区北幸1-4-1 横浜天理ビル<br />横浜駅徒歩3分<br /><br />◆ファーストプレイス横浜／西区高島2-7-1<br />横浜駅徒歩４分<br /><br />◆横濱ゲートタワー／西区高島1-2-5　横濱ゲートタワー<br />横浜駅徒歩6分<br /><br />◆川崎センター／川崎区日進町1-11 川崎ルフロン<br />川崎駅徒歩2分<br /><br /> 【東京・大宮エリア】<br />◆新宿西口センター／新宿区西新宿3-2-4 新和ビルディング<br />新宿駅徒歩7分<br /><br />◆レディース新宿／新宿区西新宿2-7-1 小田急第一生命ビル<br />都庁前駅徒歩4分、「西新宿駅」徒歩5分<br /><br />◆池袋センター／豊島区東池袋1-25-8 タカセビル<br />池袋駅徒歩5分<br /><br />◆日本橋センター／中央区日本橋1-3-13 東京建物日本橋ビル<br />日本橋駅直結、「東京駅」徒歩4分<br /><br />◆大宮センター／埼玉県さいたま市大宮区大門町2-118 大宮門街</p>
                                            <!-- 勤務地一覧 -->
                                            <input type="hidden" id="locationCnt" name="locationCnt" value="（11件）を見る">
                                            <a href="javascript:void(0);" class="locationchange"><p id="locationOpen">勤務地一覧</p></a>
                                            <div class="ac-locationbox location_list_accordion">

                                                <ul class="location_item">
                                                    <li>
                                                        横浜東口センター／神奈川県横浜市神奈川区金港町6-20
                                                        <span class="nearest_stn">
                                                            [最寄り駅]横浜駅
                                                        </span>
                                                        <span class="nearest_stn">徒歩3分</span>
                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        横浜西口センター／神奈川県横浜市西区北幸1-11-15 横浜ＳＴビル3F
                                                        <span class="nearest_stn">
                                                            [最寄り駅]横浜駅
                                                        </span>
                                                        <span class="nearest_stn">徒歩6分</span>
                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        レディース横浜／神奈川県横浜市西区北幸1-4-1 横浜天理ビル23F

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]横浜駅
                                                        </span>
                                                        <span class="nearest_stn">徒歩3分</span>
                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        ファーストプレイス横浜／神奈川県横浜市西区高島2-7-1-6F
                                                        <span class="nearest_stn">
                                                            [最寄り駅]横浜駅
                                                        </span>
                                                        <span class="nearest_stn">徒歩4分</span>
                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        横濱ゲートタワー／神奈川県横浜市西区高島1-2-5 横濱ゲートタワー

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]横浜駅
                                                        </span>
                                                        <span class="nearest_stn"></span>


                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        新宿西口センター／東京都新宿区西新宿3-2-4 新和ビルディング7F

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]新宿駅
                                                        </span>
                                                        <span class="nearest_stn">徒歩7分</span>
                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        レディース新宿／東京都新宿区西新宿2-7-1 小田急第一生命ビル

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]都庁前駅
                                                        </span>
                                                        <span class="nearest_stn">徒歩4分</span>
                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        池袋センター／東京都豊島区東池袋1-25-8 タカセビル1F・2F

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]池袋駅
                                                        </span>
                                                        <span class="nearest_stn">徒歩6分</span>
                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        日本橋センター／東京都中央区日本橋1-3-13 東京建物日本橋ビル7F

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]日本橋駅(東京都)
                                                        </span>
                                                        <span class="nearest_stn">直結</span>


                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        川崎センター／神奈川県川崎市川崎区日進町1-11 川崎ルフロン8F

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]川崎駅
                                                        </span>
                                                        <span class="nearest_stn"></span>


                                                    </li>
                                                </ul>
                                                <ul class="location_item">
                                                    <li>
                                                        大宮センター／埼玉県さいたま市大宮区大門町2-118 大宮門街3F

                                                        &emsp;
                                                        <span class="nearest_stn">
                                                            [最寄り駅]大宮駅(埼玉県)
                                                        </span>
                                                        <span class="nearest_stn"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>勤務時間</th>
                                        <td>
                                            <p class="space">8&#65306;30&#65374;16&#65306;45&#65288;&#23455;&#20685;7&#26178;&#38291;15&#20998;&#12288;&#20241;&#25001;1&#26178;&#38291;&#65289;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>雇用形態</th>
                                        <td>
                                            <dl>
                                                <dt class="text_bold space">正社員</dt>
                                                <dd>&#8251;3&#12459;&#26376;&#12398;&#35430;&#29992;&#26399;&#38291;&#12364;&#12354;&#12426;&#12414;&#12377;&#12290;&#12381;&#12398;&#38291;&#12398;&#32102;&#19982;&#12539;&#24453;&#36935;&#12399;&#22793;&#12431;&#12426;&#12414;&#12379;&#12435;&#12290;</dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr id="salary">
                                        <th>給与</th>
                                        <td>
                                            <p class="space">&#26376;&#32102;20&#19975;&#20870;&#20197;&#19978;&#65291;&#36062;&#19982;&#24180;2&#22238;&#65288;&#26152;&#24180;&#24230;&#23455;&#32318;&#65306;4.79&#12459;&#26376;&#20998;&#65289;+&#21508;&#31278;&#25163;&#24403;&#65288;&#27531;&#26989;&#20195;&#20840;&#38989;&#12394;&#12393;&#65289;<br>&#8251;&#26376;&#32102;20&#19975;&#20870;&#12399;&#22235;&#22823;&#26032;&#21330;&#25505;&#29992;&#12398;&#21021;&#20219;&#32102;&#19982;&#12391;&#12377;&#12290;&#32076;&#39443;&#12539;&#33021;&#21147;&#12539;&#24180;&#40802;&#12434;&#32771;&#24942;&#12375;&#12390;&#20778;&#36935;&#12375;&#12414;&#12377;&#12290;<br><br>&#12304;&#12514;&#12487;&#12523;&#24180;&#21454;&#20363;&#12305;<br>&#9678;380&#19975;&#20870;&#65288;20&#20195;&#24460;&#21322;&#65295;&#27531;&#26989;&#26376;&#24179;&#22343;30&#26178;&#38291;&#65289;<br>&#9678;450&#19975;&#20870;&#65288;30&#20195;&#21069;&#21322;&#65295;&#27531;&#26989;&#26376;&#24179;&#22343;40&#26178;&#38291;&#65289;<br><br>&#8251;&#32076;&#39443;&#12289;&#33021;&#21147;&#12289;&#24180;&#40802;&#12434;&#32771;&#24942;&#12398;&#12358;&#12360;&#27770;&#23450;&#12375;&#12414;&#12377;&#12290;</p>
                                            <dl class="label_title space">
                                                <dt>賞与</dt>
                                                <dd>
                                                    年2回2021&#24180;&#23455;&#32318;&#65306;&#21512;&#35336;4.79&#12459;&#26376;&#20998;
                                                </dd>
                                            </dl>
                                            <dl class="label_title space">
                                                <dt>昇給</dt>
                                                <dd>年1回</dd>
                                            </dl>
                                            <dl class="label_title space">
                                                <dt>入社時の想定年収</dt>
                                                <dd>
                                                    <p class="space">年収350万円～500万円</p>
                                                </dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>待遇・福利厚生</th>
                                        <td>
                                            <dl class="label_title">
                                                <dt>各種制度</dt>
                                                <dd>
                                                    <p class="space">&#9670;&#21508;&#31278;&#31038;&#20250;&#20445;&#38522;&#23436;&#20633;&#65288;&#38599;&#29992;&#12289;&#21172;&#28797;&#12289;&#20581;&#24247;&#12289;&#21402;&#29983;&#24180;&#37329;&#65289;<br>&#9670;&#20132;&#36890;&#36027;&#20840;&#38989;&#25903;&#32102;<br>&#9670;&#36864;&#32887;&#37329;&#21046;&#24230;&#65288;&#21220;&#32154;3&#24180;&#20197;&#19978;&#65289;<br>&#9670;&#20445;&#39178;&#25152;&#65288;&#23665;&#20013;&#28246;&#12539;&#20234;&#35910;&#39640;&#21407;&#12539;&#36234;&#24460;&#28271;&#27810;&#12411;&#12363;&#65289;<br>&#9670;&#20581;&#24247;&#35386;&#26029;&#65288;&#24180;2&#22238;&#65289;<br>&#9670;&#21307;&#30274;&#36027;&#35036;&#21161;<br>&#9670;&#39135;&#20107;&#20195;&#35036;&#21161;<br>&#9670;&#35477;&#29983;&#26085;&#12503;&#12524;&#12476;&#12531;&#12488;</p>
                                                </dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>休日・休暇</th>
                                        <td>
                                            <dl class="label_title">
                                                <dt>休日・休暇</dt>
                                                <dt>■完全週休2日制</dt>
                                                <dt>（日曜日、他シフト制）※原則、日曜日は休みですが、交代で月1回程度の出勤あり（代休あり）。</dt>
                                                <dd>
                                                </dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>沿革</th>
                                        <td>
                                            <p>1974年　医療社団法人善仁会 創立<br />1984年　総合健診センターヘルチェック開設（現横浜東口センター）<br />1985年　日本総合健診医学会優良施設 日本病院会自動化健診施設として認定<br />1992年　巡回健診開始<br />2003年　ISO9001：2000認証取得<br />2006年　健診Webカルテサービス開始<br />2009年　Web予約開始<br />2016年　Web問診開始</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>充実した研修を用意</th>
                                        <td>
                                            <p>◆行き届いたスタッフ対応を通して顧客満足度を高めていくため、教育に注力しています。<br />まず入社後は、横浜にて2週間の集合研修を受講します。<br />1週目は善仁会グループの研修で、私たちが大切にしている「接遇」を基礎から学びます。<br />2週目は看護師や臨床検査技師などの役職者が講師となって、<br />ヘルチェックの仕事内容を分かりやすくお伝えします。<br />さらに、２週間ごとに計5回フォローアップ研修を実施し、<br />知識を深めていくので、<br />無理なく必要なスキルを身に付けていくことができます。<br />配属まで、実際の施設で先輩マネージャー補佐の業務を学びます。</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>医療業界未経験の先輩も活躍中</th>
                                        <td>
                                            <p>◆前職は、営業職やシステムエンジニアなど、医療業界未経験の先輩たちが活躍しています。<br />困ったことがあれば、積極的に相談してください。<br />また、月に１度、マネージャーミーティング、マネージャー補佐ミーティングがあり、<br />各施設の取り組みを共有したり、意見交換を行っています。</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--/.recruitment_area-->
                        <div id="employee_interview">
                            <h2><span>社員インタビュー</span></h2>
                            <div class="inner_box">
                                <dl class="space">
                                    <dt>
                                        <span class="icon_area">
                                            <span>
                                                <img :src="job.img1" class="lazy" />
                                            </span>
                                        </span>
                                        <span class="label_text">同僚</span>
                                        <span class="text_gray">マネージャー補佐5年目（副主任）</span>
                                    </dt>
                                    <dd>
                                        前職は整体師でした。予防医学に携わりたいと思ったのが、転職のきっかけ。前職時、ヘルチェックで健診を受けており、その時に感じた「思いやり」を大切にした接遇や心地よい空間に共感し、入社を決意しました。
                                    </dd>
                                </dl>
                                <dl class="space">
                                    <dt>
                                        <span class="icon_area">
                                            <span>
                                                <img class="lazy" src="//src.doda.jp/DodaFront/Html/images/icon_kyujin_interview.png?v=20220906a" data-src="//src.doda.jp/DodaCommon/View/ImageDisplay.action?imgid=4010237052&type=01">
                                            </span>
                                        </span>
                                        <span class="label_text">同僚</span>
                                        <span class="text_gray">同上</span>
                                    </dt>
                                    <dd>
                                        マネージャー補佐になって5年。看護師、施設を運営するマネージャーや事務スタッフなど、様々な人との信頼関係を大切にしてきた結果、よりよい現場づくりにつながっていることを実感しています。
                                    </dd>
                                </dl>
                            </div>
                        </div><!--/#employee_interview-->
                        <div id="interviewee_saw">
                            <h2><span>取材レポート</span></h2>
                            <div class="inner_box">
                                <div class="inner_content clrFix">
                                    <h3 class="icon_superiority">会社・事業の優位性は？</h3>
                                    <h4>「最高の医療を提供するための環境づくり」を追求するポジション</h4>
                                    <div class="text_area">
                                        <p>&#9670;&#12302;&#32207;&#21512;&#20581;&#35386;&#12475;&#12531;&#12479;&#12540;&#12504;&#12523;&#12481;&#12455;&#12483;&#12463;&#12303;&#12399;&#12289;&#32321;&#24537;&#26399;&#12395;&#12399;1&#26085;150&#65374;200&#20154;&#12411;&#12393;&#12398;&#12362;&#23458;&#12373;&#12414;&#12364;&#21033;&#29992;&#12373;&#12428;&#12289;&#21307;&#24107;&#12289;&#30475;&#35703;&#24107;&#12289;&#21463;&#20184;&#12289;&#20581;&#35386;&#12450;&#12471;&#12473;&#12479;&#12531;&#12488;&#12394;&#12393;&#12289;&#22810;&#12367;&#12398;&#12473;&#12479;&#12483;&#12501;&#12364;&#20685;&#12356;&#12390;&#12356;&#12414;&#12377;&#12290;&#20170;&#22238;&#21215;&#38598;&#12377;&#12427;&#12510;&#12493;&#12540;&#12472;&#12515;&#12540;&#35036;&#20304;&#12399;&#12289;&#34920;&#12395;&#20986;&#12390;&#30446;&#31435;&#12388;&#24441;&#21106;&#12391;&#12399;&#12354;&#12426;&#12414;&#12379;&#12435;&#12364;&#12289;&#20581;&#35386;&#12475;&#12531;&#12479;&#12540;&#12434;&#20870;&#28369;&#12395;&#36939;&#21942;&#12375;&#12390;&#12356;&#12367;&#12383;&#12417;&#12395;&#12289;&#12394;&#12367;&#12390;&#12399;&#12394;&#12425;&#12394;&#12356;&#23384;&#22312;&#12391;&#12377;&#12290;<br><br>&#12373;&#12414;&#12374;&#12414;&#12394;&#26696;&#20214;&#12395;&#25658;&#12431;&#12427;&#12371;&#12392;&#12364;&#12391;&#12365;&#12427;&#29872;&#22659;&#12391;&#12289;&#12354;&#12394;&#12383;&#12398;&#12461;&#12515;&#12522;&#12450;&#12434;&#12373;&#12425;&#12395;&#20805;&#23455;&#12373;&#12379;&#12427;&#12371;&#12392;&#12399;&#38291;&#36949;&#12356;&#12354;&#12426;&#12414;&#12379;&#12435;&#12290;&#12371;&#12398;&#20808;&#12418;&#12289;&#12424;&#12426;&#12424;&#12356;&#21307;&#30274;&#12434;&#36861;&#27714;&#12375;&#12289;&#12424;&#12426;&#22810;&#12367;&#12398;&#12362;&#23458;&#12373;&#12414;&#12398;&#20581;&#24247;&#12395;&#23492;&#12426;&#28155;&#12356;&#12289;&#25903;&#12360;&#12390;&#12356;&#12367;&#29105;&#24847;&#12434;&#12418;&#12387;&#12390;&#12289;&#12372;&#27963;&#36493;&#12356;&#12383;&#12384;&#12365;&#12383;&#12356;&#12392;&#32771;&#12360;&#12390;&#12356;&#12414;&#12377;&#12290;</p>
                                    </div>
                                    <div class="img_text">
                                        <p class="img"><img src="//src.doda.jp/DodaCommon/View/ImageDisplay.action?imgid=4010237053&type=01"></p>
                                        <p class="text">&#12504;&#12523;&#12481;&#12455;&#12483;&#12463;&#12399;&#21307;&#24107;&#12289;&#30475;&#35703;&#24107;&#12434;&#12399;&#12376;&#12417;&#12289;&#21463;&#20184;&#12289;&#20581;&#35386;&#12450;&#12471;&#12473;&#12479;&#12531;&#12488;&#12394;&#12393;&#12289;&#27096;&#12293;&#12394;&#12473;&#12479;&#12483;&#12501;&#12391;&#36939;&#21942;&#12375;&#12390;&#12356;&#12414;&#12377;&#12290;</p>
                                    </div>
                                </div>
                                <div class="rewarding_strict_area clrFix">
                                    <dl class="icon_rewarding clrFix">
                                        <dt>やりがい</dt>
                                        <dd>&#12304;&#12510;&#12493;&#12540;&#12472;&#12515;&#12540;&#35036;&#20304;&#12398;&#26041;&#12395;&#12362;&#35441;&#12375;&#12434;&#20282;&#12356;&#12414;&#12375;&#12383;&#12305;<br>&#12300;&#12362;&#23458;&#12373;&#12414;&#12364;&#28288;&#36275;&#12391;&#12365;&#12427;&#29872;&#22659;&#12434;&#25972;&#12360;&#12390;&#12356;&#12367;&#12383;&#12417;&#12395;&#12289;&#26045;&#35373;&#12398;&#32654;&#35251;&#12420;&#12495;&#12540;&#12489;&#38754;&#12398;&#25972;&#20633;&#12414;&#12391;&#25285;&#24403;&#12375;&#12414;&#12377;&#12290;&#20685;&#12367;&#12473;&#12479;&#12483;&#12501;&#12395;&#12392;&#12387;&#12390;&#12418;&#24515;&#22320;&#12424;&#12367;&#20685;&#12369;&#12427;&#29872;&#22659;&#12364;&#12391;&#12365;&#12390;&#12356;&#12427;&#12371;&#12392;&#12395;&#12289;&#28288;&#36275;&#24863;&#12364;&#12354;&#12426;&#12414;&#12377;&#12301;&#12392;&#12398;&#12371;&#12392;&#12290;&#26045;&#35373;&#12395;&#38306;&#12431;&#12427;&#24133;&#24195;&#12356;&#26989;&#21209;&#12434;&#20219;&#12373;&#12428;&#12289;&#22823;&#12365;&#12394;&#12420;&#12426;&#12364;&#12356;&#12398;&#12354;&#12427;&#12501;&#12451;&#12540;&#12523;&#12489;&#12391;&#27963;&#36493;&#12377;&#12427;&#12371;&#12392;&#12364;&#21487;&#33021;&#12391;&#12377;&#12290;</dd>
                                    </dl>
                                    <dl class="icon_strict clrFix">
                                        <dt>きびしさ</dt>
                                        <dd>&#9670;&#20581;&#35386;&#12475;&#12531;&#12479;&#12540;&#12395;&#12399;&#27598;&#26085;&#22810;&#12367;&#12398;&#12362;&#23458;&#12373;&#12414;&#12364;&#35370;&#12428;&#12289;&#12373;&#12414;&#12374;&#12414;&#12394;&#12371;&#12392;&#12364;&#36215;&#12371;&#12426;&#12414;&#12377;&#12290;&#20104;&#24819;&#12375;&#12394;&#12363;&#12387;&#12383;&#31361;&#30330;&#30340;&#12394;&#12371;&#12392;&#12364;&#36215;&#12371;&#12427;&#12371;&#12392;&#12418;&#12354;&#12426;&#12414;&#12377;&#12364;&#12289;&#12383;&#12392;&#12360;&#20309;&#12364;&#36215;&#12371;&#12387;&#12390;&#12418;&#12289;&#20919;&#38745;&#12395;&#33256;&#27231;&#24540;&#22793;&#12395;&#27573;&#21462;&#12426;&#12424;&#12367;&#23550;&#31574;&#12434;&#36914;&#12417;&#12427;&#12371;&#12392;&#12364;&#24517;&#35201;&#12391;&#12377;&#12290;&#33258;&#20998;&#12391;&#27671;&#12389;&#12365;&#12289;&#33258;&#20998;&#12391;&#21205;&#12367;&#12290;&#21608;&#12426;&#12398;&#20154;&#12392;&#12467;&#12511;&#12517;&#12491;&#12465;&#12540;&#12471;&#12519;&#12531;&#12434;&#12375;&#12387;&#12363;&#12426;&#12392;&#12392;&#12426;&#12394;&#12364;&#12425;&#12289;&#20870;&#28369;&#12395;&#36914;&#12417;&#12390;&#12356;&#12387;&#12390;&#12367;&#12384;&#12373;&#12356;&#12290;</dd>
                                    </dl>
                                </div>
                            </div>
                        </div><!--/#interviewee_saw-->
                        <div id="three_point_image">
                            <ul class="clrFix">
                                <li>
                                    <div class="img_wrap">
                                        <img class="lazy" src="//src.doda.jp/DodaFront/Html/img_cmn/transparent.gif?v=20220906a" data-src="//src.doda.jp/DodaCommon/View/ImageDisplay.action?imgid=4009101830&type=01">
                                    </div>
                                    <p>20代～30代のマネージャー補佐が多数活躍しています。</p>
                                </li>
                                <li>
                                    <div class="img_wrap">
                                        <img class="lazy" src="//src.doda.jp/DodaFront/Html/img_cmn/transparent.gif?v=20220906a" data-src="//src.doda.jp/DodaCommon/View/ImageDisplay.action?imgid=4009101907&type=01">
                                    </div>
                                    <p>「施設の雰囲気は、補佐次第。彼は穏やかだけれど仕事が早くて、頼りになります！」とマネージャー。</p>
                                </li>
                                <li>
                                    <div class="img_wrap">
                                        <img class="lazy" src="//src.doda.jp/DodaFront/Html/img_cmn/transparent.gif?v=20220906a" data-src="//src.doda.jp/DodaCommon/View/ImageDisplay.action?imgid=4009101783&type=01">
                                    </div>
                                    <p>充実した設備・上質な接遇サービスで、多くのお客さまを30年にわたりお迎えしてきました。</p>
                                </li>
                            </ul>
                        </div><!--/#three_point_image-->
                    </div><!--/.tab_content_block-->
                    <div id="shtTabContent2" class="tab_content_block">
                        <div id="application_method">
                            <div class="applicant_title">
                                <h2>応募方法</h2>
                            </div>
                            <table id="application_method_table">
                                <tbody>
                                    <tr>
                                        <th>応募方法</th>
                                        <td>
                                            <p class="caption">本ページ内＜応募する＞ボタンより、必要事項をご入力の上、ご応募ください。</p>
                                            <p class="annotation_text">※応募書類は返却いたしませんのでご了承ください。<br>※提供いただいた個人情報は採用活動のみに使用し、第三者への開示・提供はいたしません。<br>※求人情報は、掲載期間が過ぎますとサイト上から削除されます。<br>※応募した求人内容を確認したい場合は、本ページを印刷されるなどのご対応をお願いいたします。</p>
                                            <dl class="band_title space_large">
                                                <dt>選考の流れ</dt>
                                                <dd>
                                                    <ul class="selection_flow">
                                                        <li>Web応募</li>
                                                        <li>書類選考（詳細は下記参照）</li>
                                                        <li>面接、適性テスト（詳細は下記参照）</li>
                                                        <li>内定</li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl class="band_title">
                                                <dt>連絡先</dt>
                                                <dd>
                                                    <p>株式会社善仁会　総合健診センター ヘルチェック<br /><br />〒220-0023<br />神奈川県横浜市西区平沼1-2-24　横浜NTビル2F<br />担当者 ／ 人事採用担当<br />TEL ／045-330-9220<br />E-mail ／recruiting@health-check.jp</p>
                                                </dd>
                                            </dl>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--/#application_method-->

                    </div><!--/.tab_content_block-->
                    <div id="memberContent" style="display: none;">
                        <div class="memberContentSlideOuter">
                            <div class="memberContentSlidable">

                                <div class="memberContentSlideContent trgNo0">
                                    <div class="recruiter">
                                        <div class="recruiterTitle"></div>
                                        <div class="memberFixedBlock">
                                            <div class="recruiterHead">
                                                <div class="recruiterImageBlock">
                                                    <img class="recruiterImage" name="wimgpth" src="">
                                                </div>
                                                <p></p>
                                            </div>
                                            <div class="recruiterSubTitle">プロフィール</div>
                                            <div class="recruiterBody">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="memberContentBtn">
                                            <a onclick="closeBtn_MemberDetail();" class="closeBtn">閉じる</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="memberContentSlideContent trgNo1">
                                    <div class="recruiter">
                                        <div class="recruiterTitle"></div>
                                        <div class="memberFixedBlock">
                                            <div class="recruiterHead">
                                                <div class="recruiterImageBlock">
                                                    <img class="recruiterImage" name="wimgpth" src="">
                                                </div>
                                                <p></p>
                                            </div>
                                            <div class="recruiterSubTitle">プロフィール</div>
                                            <div class="recruiterBody">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="memberContentBtn">
                                            <a onclick="closeBtn_MemberDetail();" class="closeBtn">閉じる</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="memberContentSlideContent trgNo2">
                                    <div class="recruiter">
                                        <div class="recruiterTitle"></div>
                                        <div class="memberFixedBlock">
                                            <div class="recruiterHead">
                                                <div class="recruiterImageBlock">
                                                    <img class="recruiterImage" name="wimgpth" src="">
                                                </div>
                                                <p></p>
                                            </div>
                                            <div class="recruiterSubTitle">プロフィール</div>
                                            <div class="recruiterBody">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="memberContentBtn">
                                            <a onclick="closeBtn_MemberDetail();" class="closeBtn">閉じる</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9" style="height:600px">
                <h2 id="section-2">第2部分</h2>
            </div>
            <div class="col-xs-9" style="height:600px">
                <h2 id="section-3">第3部分</h2>
            </div>
            <div class="col-xs-9" style="height:600px">
                <h2 id="section-4">第4部分</h2>
            </div>
            <div class="col-xs-9" style="height:600px">
                <h2 id="section-5">第5部分</h2>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/css/recommend_list_pc.css" media="all">
    <!-- Unique CSS JavaScript　ページ固有のCSS・JSを読み込み -->
</body>


@section Scripts{
    <script>
    createVueApp({
        data() {
            return {
                job: {}
            }
        },
        computed: {

        },
        mounted() {
            this.job.id = @ViewBag.Id;
            this.handleGetJob();
        },
        methods: {
            handleGetJob() {
                this.getJob(this.job.id).then(res => {
                    this.job = res
                    console.log(this.job)
                })
            },
            getJob(id) {
                return this.$http.get('/Job/getDetail', { id })
            }
        }
    })

    </script>
}
